body { font-family: Verdana,Arial,sans-serif; margin: 0px;}
#wrapper, #top > div { margin-left: auto; margin-right: auto; width: 1000px; position: relative;}

#top a:visited { color: blue;}
#top { height: 20px; border-bottom: 1px solid #ccc; text-align: right; font-size: 12px; padding-right: 5px; padding-top: 4px; }

#header { margin-left: auto; margin-right: auto; width: 970px; height: 125px;}
#header img { margin-right: 10px;}
#header h1 { font-size: 42px; margin-top: 20px; padding-top: 10px; margin-bottom: 0px; padding-bottom: 0px;}
#header h2 { font-size: x-large; margin: 0px; }
#new-event-link {padding: 1px; background-color:#d50025; border-radius: 6px; border: 1px solid #ff0000; position: absolute; right: 0px;}
#submit-link {width: 218px; border-radius: 6px;}
#new-event-link a, #new-event-link button {text-decoration: none; border: none; background-color:#eee; border-radius: 4px;}
#new-event-link a {color: #fff;}
#submit {padding: 2px 12px; font-size: larger; color: #fff; background-color: #29A1E6; border-radius: 6px; border: none;}
#submit:hover {background-color: #3FAEED;}
#submit.disabled {color: #F0F9FE; background-color: #B6E1F7;}
#contact-link {float:left; margin-left: 10px;}
body.new #new-event-link {display: none;}

.step span { color: white; background-color: #b10026; padding: 1px; padding-left: 4px; padding-right: 4px;}
.step.inactive span { background-color: gray;}
.step.inactive { color: gray; }

h3 { margin-top: 0px;}
h4 { margin-bottom: 0px;}

table{ border-collapse: collapse; border-spacing: 0; margin-bottom: 10px;}
table td { padding-top: 8px; padding-left: 4px; vertical-align: top; }
table td span { font-size: smaller;}
table td.first { width: 110px; padding-right: 20px; }
#terms h3 {margin-top: 10px; margin-bottom: 0px;}
#terms div { font-size: 11px; }
#terms ol { padding-left: 25px;}
#terms li { margin-top: 10px;}
nobr label { display: inline;}

#log-list {width:100%;}
#log-list th {text-align: left;}
#log-list .desc-line {border-bottom: 1px solid #e0e0e0; line-height: 5px;}

form div { margin-top: 10px; }

label { display: block;}

a:visited { color: blue;}
h3 a {text-decoration: none; color:#0000bb;}

#content { border-top: 3px solid #d50025; background: #eee; padding: 10px; }
#primary { background: white; width: 100%; padding: 10px; line-height: 1.5;}
#secondary {font-size: 80%;}

h4 { font-size: smaller; }

.b-block {overflow: auto;}
.b-label {float: left; width: 260px; font-weight: bold;}
.b-data {float: left; width: 500px;}

.thin-border, .thinner-border {background-color: #ff0000; margin: 10px 0px;}
.thin-border {height: 2px;}
.thinner-border {height: 1px;}

.room-listing {font-size: 90%;}

form h4 {
  color: #29A1E6;
  font-size: 24px;
}
form nobr {
  min-width: 180px;
  display: inline-block;
}
form input[type=checkbox], form input[type=radio] {
  margin: 4px 8px 4px 0;
}
input#event_name, input#other_member, td textarea, input#contact_phone, input#contact_name, input#event_url {
  width: 480px;
}
input#start_date, input#end_date, input#event_name, input#other_member, td textarea, input#contact_phone, input#contact_name, input#event_url, input#fee, input#estimated_size {
  font-size: 16px;
}

#estimated_size, #fee {
  width: 60px;
}

.inline-label {
  width: 110px;
}
.clearer {clear: both;}

/* for DatePicker widget */
a.dp-choose-date {
	float: left;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 3px 3px 0;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background: url(/static/calendar.png) no-repeat; 
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
	width: 85px;
	float: right;
}

/* menu */
#menu {float: right; margin: 10px; font-size: smaller;}
.emph {font-weight: bold;}
#menu .current {text-decoration: none; color: #000; cursor: tex;}

#edit-approve-btns, #cancel-delete-btns {
  display: inline;
}

#edit-approve-btns {
  padding-right: 50px;
}

.checkbox-big {
    width: 20px;
    height: 20px;
    outline-width: 0px;
    border-radius: 0px;
    vertical-align: baseline;
    padding-top: 6px;
}
