body { font-family: Verdana,Arial,sans-serif; margin: 0px;}
#wrapper, #top > div { margin-left: auto; margin-right: auto; width: 1000px; position: relative;}

#top a:visited { color: blue;}
#top { height: 20px; border-bottom: 1px solid #ccc; text-align: right; font-size: 12px; padding-right: 5px; padding-top: 4px; }

#header { margin-left: auto; margin-right: auto; width: 970px; height: 125px;}
#header img { margin-right: 10px;}
#header h1 { font-size: 42px; margin-top: 20px; padding-top: 10px; margin-bottom: 0px; padding-bottom: 0px;}
#header h2 { font-size: x-large; margin: 0px; }
#new-event-link {position: absolute; right: 0px;}
#contact-link {float:left; margin-left: 10px;}
body.new #new-event-link {display: none;}

.step span { color: white; background-color: #b10026; padding: 1px; padding-left: 4px; padding-right: 4px;}
.step.inactive span { background-color: gray;}
.step.inactive { color: gray; }

h3 { margin-top: 0px;}
h4 { margin-bottom: 0px;}

table{ border-collapse: collapse; border-spacing: 0; margin-bottom: 10px;}
table td { padding-top: 8px; padding-left: 4px; vertical-align: top; }
table td span { font-size: smaller;}
table td.first { width: 110px; padding-right: 20px; }
#terms h3 {margin-top: 10px; margin-bottom: 0px;}
#terms div { font-size: 11px; }
#terms ol { padding-left: 25px;}
#terms li { margin-top: 10px;}
nobr label { display: inline;}
td.event-check {width: 40px;}
a.event-link {font-size: 18px; line-height: 18px;}
.status-badge {color: white; font-size: small; padding: 3px 6px; background: gray; margin-left: 6px; border-radius: 2px;}
.status-badge.not_approved-badge, .status-badge.canceled-badge {background: red;}
.status-badge.onhold-badge {background: green;}

#log-list {width:100%;}
#log-list th {text-align: left;}
#log-list .desc-line {border-bottom: 1px solid #e0e0e0; line-height: 5px;}

form div { margin-top: 10px; }

label { display: block;}

a:visited { color: blue;}
h3 a {text-decoration: none; color:#0000bb;}

#content { border-top: 3px solid #d50025; background: #F5F5F5; padding: 10px; }
#primary { background: white; width: 100%; padding: 10px; line-height: 1.5;}
#secondary {font-size: 80%;}

h4 { font-size: smaller; }

.b-block {overflow: auto;}
.b-label {float: left; width: 260px; font-weight: bold;}
.b-data {float: left; width: 500px;}

.thin-border, .thinner-border {background-color: #ff0000; margin: 10px 0px;}
.thin-border {height: 2px;}
.thinner-border {height: 1px;}

.room-listing {font-size: 90%;}

form h4 {
  color: #29A1E6;
  font-size: 24px;
}
form nobr {
  min-width: 180px;
  display: inline-block;
}
form input[type=checkbox], form input[type=radio] {
  margin: 4px 8px 4px 0;
}
input#event_name, input#other_member, td textarea, input#contact_phone, input#contact_name, input#event_url {
  width: 480px;
}
input#start_date, input#end_date, input#event_name, input#other_member, input#contact_phone, input#contact_name, input#event_url, input#fee, input#estimated_size, .input-wide, .input-narrow, td textarea {
  font-size: 16px;
}

.inline-label {
  width: 110px;
}
.input-wide {
  width: 366px;
}
#estimated_size, #fee, .input-narrow {
  width: 40px;
}

label span {
  font-weight: normal;
}

input[type="text"], textarea {
  border: 2px solid #eee;
  box-sizing: border-box;
}
input:focus, textarea:focus {
  outline: none;
  border: 2px solid #ADD8E6;
}

.room-list {
  width: 550px;
}
.room-list label {
  width: 160px;
  font-weight: normal;
}

.clearer {clear: both;}

/* for DatePicker widget */
a.dp-choose-date {
	float: left;
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 3px 3px 0;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background: url(/static/calendar.png) no-repeat;
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
	width: 85px;
	float: right;
}

/* menu */
#menu {float: right; margin: 10px; font-size: smaller;}
.emph {font-weight: bold;}
#menu .current {text-decoration: none; color: #000; cursor: tex;}

#edit-approve-btns, #cancel-delete-btns {
  display: inline;
}

#edit-approve-btns {
  padding-right: 50px;
}

.checkbox-big {
    width: 20px;
    height: 20px;
    outline-width: 0px;
    border-radius: 0px;
    vertical-align: baseline;
    padding-top: 6px;
}

.no-new-message {
  position: absolute;
  right: 275px;
  font-size: 12px;
  white-space: nowrap;
  padding-top: 25px;
}
