{% extends 'base.html' %}
{% block content %}

<div id="primary">

<h3>Thanks for registering an event at Hacker Dojo!</h3>

<p>Remember, your event has to be approved before becoming active.
Please contact <a href="mailto:events@hackerdojo.com">events@hackerdojo.com</a> if it has been over 48 hours with no response.</p>

<h1>{{event.name}}</h1>

<div class='b-block'><div class='b-label'>Date:</div><div class='b-data'>{{event.start_time|date:"l, F j Y"}}</div></div>
<div class='b-block'><div class='b-label'>Time:</div><div class='b-data'>{{event.start_time|date:"g:iA"|lower}} to {{event.end_time|date:"g:iA"|lower}}</div></div>

<h4>Responsibilities of a Member Who Would Like to Host an Event</h4>
<p>Failure to follow these rules may result in the event no longer being welcome at the dojo and/or suspension of the host's rights to host events.</p>

<ul>
<li>Schedule - Dojo resources are allocated on a first come, first serve basis</li>
<li>Presence - Your member host or one of your host's delegates must be physically present to host the entire event. Delegates must also be members of Hacker Dojo, and must be arranged prior to the event's submission. Your member host takes full responsibility for ensuring the event runs smoothly and the rules are enforced.</li>
<li>Cancelation - If the event is cancelled, your event host is responsible for cancelling the event on this system and posting notice to all forums in which you advertised the event. If your event host is submitting this application on behalf of someone else, we will still hold the event host responsible.</li>
<li>Approval - The event must be approved by Event Coordinators. We reserve the right to refuse approval of events that are not considered in the spirit of Hacker Dojo.</li>
<li>Setup - You are responsible for your event setup. This may require setting up a day early (or at least an hour or two early!), finding projectors, moving furniture, etc. - In order to prepare you may book a separate event for the same space, just create a new event and select Setup Time as the event type.</li>
<li>Parking - We have strict parking rules that you need to convey to guests. If your event is large enough, you may need a staff member to direct parking.</li>
<li>Sign-in - We require your guests to sign in with our sign-in kiosks for liability reasons. This information also helps support the Dojo by giving insight into member conversions from your event.</li>
<li>Blurb - You or another member should give an introduction to Hacker Dojo before the event starts. This may include mentioning Hacker Dojo sponsors but shouldn't be longer than a couple minutes.</li>
<li>Cleanup - Please clean up after your event! Return it to the way you found it at the very least. Consider getting guests to pitch in.  Excess trash which does not fit in the dumpster must be hauled away.</li>
<li>Supplies - Please refill supplies consumed. If you have a large event, your guests will consume shared resources such as snacks, toilet paper and other consumables.</li>
<li>Damages - You are held responsible for damages to Dojo facilities and equipment during your event.</li>
</ul>

</div>

{% endblock %}
