{% extends 'base.html' %}
{% block content %}

<div id="primary">

<h1>Application Successful</h1>

<h2>Thanks for registering an event at Hacker Dojo!</h2>

<p>Remember, your event has to be approved before becoming active.
Please contact <a href="mailto:events@hackerdojo.com">events@hackerdojo.com</a> if it has been over 48 hours with no response.</p>

<h3>{{event.name|safe}}</h3>

<div class='b-block'><div class='b-label'>Start:</div><div class='b-data'>{{event.start_time|date:"l, F j Y"}} at {{event.start_time|date:"g:iA"|lower}}</div></div>
<div class='b-block'><div class='b-label'>End:</div><div class='b-data'>{{event.end_time|date:"l, F j Y"}} at {{event.end_time|date:"g:iA"|lower}}</div></div>
{% if event.setup_time %}
<div class='b-block'><div class='b-label'>Setup Time:</div><div class='b-data'>{{event.setup_time}} minutes</div></div>
{% endif %}
{% if event.teardown_time %}
<div class='b-block'><div class='b-label'>Teardown Time:</div><div class='b-data'>{{event.teardown_time}} minutes</div></div>
{% endif %}
<div class='b-block'><div class='b-label'>Rooms:</div><div class='b-data'>{{event.roomlist}}</div></div>

<div id="rules">{{rules|safe}}</div>

</div>

{% endblock %}
