{% extends 'base.html' %}
{% block title %}{{event.name|title}}{% endblock %}
{% block content %}

<div id="primary">
  <h3>{{event.name|safe}}</h3>
  {% if not event.is_past %}<p>
    <form method="post" style="display: inline;">
    {% if event.is_deleted and access_rights.can_undelete %}
      {% if access_rights.can_undelete %}<input type="submit" name="state" value="Undelete" />{% endif %}
      (This will return the event to the &ldquo;pending&rdquo; status.)
    {% else %}
      <div id="edit-approve-btns">
      {% if access_rights.can_cancel and not event.is_onhold %}<input type="submit" name="state" value="OnHold" />{% endif %}
      {% if access_rights.can_approve %}<input type="submit" name="state" value="Approve" />{% endif %}
      {% if access_rights.can_not_approve %}<input type="submit" name="state" value="NotApproved" />{% endif %}
      {% if access_rights.can_edit %}<input type="button" value="Edit" onclick="document.location.href='/edit/{{event.key.id}}';" />{% endif %}

      </div>
      <div id="cancel-delete-btns">
      {% if access_rights.can_cancel and not event.is_canceled %}<input type="submit" name="state" value="Cancel" />{% endif %}
      {% if access_rights.can_delete %}<input type="submit" name="state" value="Delete" />{% endif %}
      </div>
      <!--{% if access_rights.can_staff %}<input type="submit" name="state" value="Staff" />{% endif %}
      {% if access_rights.can_unstaff %}<input type="submit" name="state" value="Unstaff" />{% endif %}-->
    {% endif %}
    </form>
  </p>{% endif %}

  {% if not event.is_staffed %}<p>
    <span style="color: red; font-weight: bold">This event is currently understaffed.</span><br/>
    Due to this size of the event, at least {{ event.staff_needed }} more Dojo member{{ event.staff_needed|pluralize }} must volunteer to staff it.  It will not appear on the public calendar until {% if not event.is_approved %}it has been approved and {% endif %}enough people volunteer.
  </p>{% else %}{% if not event.is_approved %}<p>
    <span style="color: red; font-weight: bold">This event is not yet visible.</span><br/>
    This event will not appear on the public calendar until it has been approved. If this does not happen soon, contact <a href="email:events@hackerdojo.com">events@hackerdojo.com</a> for assistance.
  </p>{% endif %}{% endif %}

  <div class='b-block'><div class='b-label'>Status:</div><div class='b-data'>{{event.status|title}}</div></div>
  <div class='b-block'><div class='b-label'>Setup Time:</div><div class='b-data'>{{event.setup}} minutes</div></div>
  <div class='b-block'><div class='b-label'>Start:</div><div class='b-data'>{{event.start_time|date:"l, F j, Y"}} at {{event.start_time|date:"g:iA"|lower}}</div></div>
  <div class='b-block'><div class='b-label'>End:</div><div class='b-data'>{{event.end_time|date:"l, F j, Y"}} at {{event.end_time|date:"g:iA"|lower}}</div></div>
   <div class='b-block'><div class='b-label'>Teardown Time:</div><div class='b-data'>{{event.teardown}} minutes</div></div>
  <div class='b-block'><div class='b-label'>Member:</div><div class='b-data'><a href="mailto:{{event.member}}@hackerdojo.com">{{event.member}}</a></div></div>
  <div class='b-block'><div class='b-label'>Type:</div><div class='b-data'>{{event.type}}</div></div>
  <div class='b-block'><div class='b-label'>Estimated size:</div><div class='b-data'>{{event.estimated_size}}</div></div>
  {% if event.contact_name %}
    <div class='b-block'><div class='b-label'>Contact:</div><div class='b-data'>{{event.contact_name}}{% if user %}, {{event.contact_phone}}{% endif %}</div></div>
  {% endif %}
  <div class='b-block'><div class='b-label'>URL:</div><div class='b-data'><a href='{{event.full_url}}'>{{event.url}}</a></div></div>
  <div class='b-block'><div class='b-label'>Fee:</div><div class='b-data'>{{event.fee}}</div></div>
  <div class='b-block'><div class='b-label'>Rooms:</div><div class='b-data'>{{event.roomlist}}</div></div>
  <!--<div class='b-block'><div class='b-label'>Staff:</div><div class='b-data'>{{event.stafflist}}</div></div>-->
  <br />
  <div class='b-block'><div class='b-label'>Details:</div><div class='b-data'>{{event.details|safe}}</div></div>
  <br />
  <div class='b-block'><div class='b-label'>Notes:</div><div class='b-data'>{{event.notes|safe}}</div></div>
  {% if event.feedback_set.count %}
    <div class='thin-border'></div>
    <div id='secondary'>
    <h3>Feedback</h3>
    {% for feedback in event.feedback_set %}
      <div class='b-block'><div class='b-label'>Submitted by:</div><div class='b-data'>{{feedback.user}} on {{feedback.created|date:"F j"}} at {{feedback.created|date:"g:iA"|lower}}</div></div>
      <div class='b-block'><div class='b-label'>Rating:</div><div class='b-data'>{{feedback.rating}}</div></div>
      <div class='b-block'><div class='b-label'>Comment:</div><div class='b-data'>{{feedback.comment}}</div></div>
      <div class='thinner-border'></div>
    {% endfor %}
    </div>
  {% endif %}
  {% ifequal event.status 'approved' %}
    <br/>
    <div class='thin-border'></div>
    <form method="post" style="display: inline;">
      <h4 style="margin-top:0; margin-bottom:1em">Member RSVP</h4>
      {% if user and event.can_rsvp %}
        <input type="submit" name="state" value="RSVP" />
      {% endif %}

    </form>

  <p>Hacker Dojo members may {% if not user %} <a href="{{login_url}}">login</a> to {% endif %} reserve space in the event room up to 48 hours before the event.</p>
  <p>Member RSVP does not imply event registration if applicable.</p>

  {% if user and event.rsvps.count %}
    <hr size=1>
    <p>The following members have RSVPed:</p>
    <ol>
      {% for rsvp in event.rsvps %}
        <li>{{ rsvp.user }}</li>
      {% endfor %}
    </ol>
  {% endif %}

  {% endifequal %}
</div>

{% endblock %}
