<tr id="{{ event.key.id }}-row" class="event-row">
    {% if is_admin and not hide_checkboxes %}
    <td class="event-check">
        <input type="checkbox" class="checkbox-big bulk-select",
            id="{{ event.key.id }}-box">
    </td>
    {% endif %}

    <td width="75">{% if event.is_continued %}(Contd){% else %}{{event.start_time|date:"g:iA"|lower}}{% endif %}</td>
  <td>
    <a class="event-link" {% if event.is_canceled %}style="text-decoration: line-through;"{% endif %} {% ifnotequal event.status "approved" %}rel="nofollow"{% endifnotequal %} href="/event/{{event.key.id}}-{{event.name|slugify}}">
      {{event.name|safe}}
    </a>
        {% ifequal event.status "approved" %}
        {% else %}
        <span class="badge status-badge {{ event.status }}-badge" id="{{ event.key.id }}-badge">{{ event.status }}</span>
        {% endifequal %}
    {% if event.is_past %}(<a href="/feedback/new/{{event.key.id}}">Give your feedback</a>){% endif %}
  <div>Hosted by <a href="mailto:{{event.member.email}}">{{event.owner}}</a>
  {% if event.roomlist %}in {{event.roomlist}}{% endif %}</div></td>
</tr>
