{% extends 'base.html' %}
{% block content %}
<script type="text/javascript" src="/static/js/new.js?v=2"></script>

<div id="primary">
  <h3>New Event</h3>

  <div id="warn" style="margin:4px; margin-bottom:1.5em; padding:8px; border:1px solid #ffe7af; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; background:#fffaed"><b>{{human}}</b> will be held personally responsible for this event.  You must show up and ensure the rules below are followed.  Failure to make a good faith effort will result in suspension of event hosting privileges for 45 days.</div>
  <div style="margin:4px; margin-bottom:1.5em; padding:8px; color: black; display:none; border:1px solid red; background:#fee;  " id="error"></div>

  <div style="width: 46%; float: right; font-size: smaller; padding: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; background: #eee; line-height: normal;" id="terms">
    {{rules|safe}}
  </div>

  <form method="post" style="width: 49%;">
    <h4>Event Name</h4>
    <input type="text" name="name" style="width: 300px; margin-left: 4px;" />
    <h4>When</h4>
    <table style="margin: 0px;">
      <tr>
        <td class="first"><label for="start_date">Start Date:</label>
          <input name="start_date" id="start_date" readonly="readonly"/></td>
        <td><label for="start_time">Start Time:</label>
          <select name="start_time_hour">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
          </select>:
          <select name="start_time_minute">
            <option>00</option>
            <option>15</option>
            <option>30</option>
            <option>45</option>
          </select>
          <select name="start_time_ampm">
            <option>pm</option>
            <option>am</option>
          </select>
        </td>
      </tr>
      <tr>
        <td class="first"><label for="end_date">End Date:</label>
          <input name="end_date" id="end_date" class="datepicker" readonly="readonly"/></td>
        <td><label for="end_time">End Time:</label>
        <select name="end_time_hour">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>:
        <select name="end_time_minute">
          <option>00</option>
          <option>15</option>
          <option>30</option>
          <option>45</option>
        </select>
        <select name="end_time_ampm">
          <option>pm</option>
          <option>am</option>
        </select>
        </td>
      </tr>
    </table>

    <div class='b-block'>
    <div class='b-label'>
      Setup Time (15 minutes minimum):
    </div>
    <div class='b-data'>
      <select name="setup" id="setup">
          <option {{event.setup|select:15}}>15</option>
          <option {{event.setup|select:30}}>30</option>
          <option {{event.setup|select:45}}>45</option>
          <option {{event.setup|select:60}}>60</option>
        </select>
      </div>
  </div>

  <div class='b-block'>
    <div class='b-label'>
      Teardown Time (15 minutes minimum):
    </div>
    <div class='b-data'>
      <select name="teardown" id="teardown">
          <option {{event.teardown|select:15}}>15</option>
          <option {{event.teardown|select:30}}>30</option>
          <option {{event.teardown|select:45}}>45</option>
          <option {{event.teardown|select:60}}>60</option>
        </select>
      </div>
  </div>

    <h4>Type of Event</h4>
      <table style="margin: 0px;"><tr>
        <td class="first"><label for="type">Category:</label>
          <select name="type" id="type-select" onchange="if(this.value=='Other...'){showOther();$('#type-text').focus()}">
            <option>Meetup</option>
            <option>Hackathon</option>
            <option>Conference</option>
            <option>Workshop</option>
            <option>Lecture</option>
            <option>Social</option>
            <option>Setup Time</option>
            <option>Dojo Admin</option>
            <option>Other...</option>
         </select>
         <input type="text" id="type-text" onblur="$('#type-select').append('<option>'+this.value+'</option>');$('#type-select').val(this.value);hideOther();" style="display: none;" size="15"></td>
        <td><label for="estimated_size" title="This will become a HARD LIMIT on your event.">Max persons:</label>
          <input type="text" name="estimated_size" size="4" style="text-align: right;" /> <span>people</span></td>
      </tr></table>

    <h4>External Contact (if applicable)</h4>
      <table style="margin: 0px;"><tr>
        <td class="first"><label for="contact_name">Name:</label>
          <input type="text" name="contact_name" size="16" /></td>
        <td><label for="contact_phone">Phone Number:</label>
          <input type="text" name="contact_phone" size="16" /></td>
      </tr></table>

    <h4>More Info:</h4>
      <table style="margin: 0px;">
        <tr><td><label for="details">Event details:<br/><span style="font-size:10;">Since all events are open to attendance by Hacker Dojo members, please describe your event.</span></label>
          <textarea rows="5" style="width: 300px;" name="details"></textarea></td></tr>
        <tr><td><label for="url">Event URL: (optional)</label>
          <input type="text" name="url" style="width: 300px;" /></td></tr>
        <tr><td><label for="fee">Entry Fee: (optional)</label>
          <input type="text" name="fee" size="8"/> <span style="color: gray; font-size: x-small;">Leave blank if free</span></td></tr>
        <tr><td><label for="details">Requested Rooms:</label>
        <span style="font-size:10;">(Capacity in parentheses)</span><br />
          {% for room in rooms %}
          <nobr><input type="checkbox" id="room-{{room.0|strip_spaces}}" name="rooms" value="{{room.0}}" /><label for="room-{{room.0}}">{{room.0|title}} ({{room.1}})</label></nobr>{% endfor %}
        </td></tr>
        <tr><td style="padding-top: 8px;"><label for="details">Special notes:</label>
          <textarea rows="3" style="width: 300px;" name="notes"></textarea></td></tr>
      </tr></table>

    <p style="font-size:smaller;">You have 30 days for approval before your event application expires. The primary bottleneck to quick approval is getting staff to opt in. You will be notified either way.</p>
    <p style="font-size:smaller; font-weight: bold;">By submitting this event, you agree to the responsibilities listed to the right.</p>
    <input type="submit" value="I agree, submit event for approval" style="font-size: larger; margin: 5px;" />
  </form>

</div>


{% endblock %}
