{% extends 'base.html' %}
{% block content %}

<head>
<script type="text/javascript" src="/static/js/bulk-action.js"></script>

<script>bulkAction.setEventType('not_approved');</script>
</head>

{% include 'bulk_action_bar.html' %}

<div id="primary">
  <h3>Not Approved Events</h3>
  <a href="/" style="font-size: smaller; margin-top: 20px; display: block;">&larr; Upcoming Events</a>

  <table class="table-striped" style="width: 100%">
  {% regroup events by start_date as grouped_events %}
  {% for events in grouped_events %}
    {% for event in events.list %}
      {% include 'list_event.html' %}
    {% endfor %}
  {% endfor %}

</div>


{% endblock %}
